@import "../App.scss";

.bill-container {
  text-align: center;
  outline: auto;
  outline-color: $outline-black;
  box-shadow: $box-shadow-grey;
  max-width: 75%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
  padding: 10px;
}
