@import "../App.scss";

.card {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  border-radius: 10px;
  box-shadow: $box-shadow-grey;
}

.card:hover {
  background: $background-light-hover;
}

.card-body {
  min-width: 45px;
}

img {
  width: 50%;
}
